@charset "utf-8";
/* CSS Document */

/* *************************  code for custom font "codefont" and "quickand" ************************** */
@font-face {
    font-family: "Code Bold";
    src: url('../fonts/code_bold-webfont.eot');
    src: url('../fonts/code_bold-webfont.eot?#iefix') format('embedded-opentype');
src: url('../fonts/code_bold-webfont.woff2') format('woff2');
src: url('../fonts/code_bold-webfont.woff') format('woff');
src: url('../fonts/code_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Code Light";
    src: url('../fonts/code_light-webfont.eot');
    src: url('../fonts/code_light-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/code_light-webfont.woff2') format('woff2');
  src: url('../fonts/code_light-webfont.woff') format('woff');
  src: url('../fonts/code_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand-bold-webfont.eot');
    src: url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype');
 src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2');
 src: url('../fonts/quicksand-bold-webfont.woff') format('woff');
 src: url('../fonts/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand-light-webfont.eot');
    src: url('../fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype');
src:  url('../fonts/quicksand-light-webfont.woff2') format('woff2');
src:  url('../fonts/quicksand-light-webfont.woff') format('woff');
src:  url('../fonts/quicksand-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype');
 src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2');
 src: url('../fonts/quicksand-regular-webfont.woff') format('woff');
 src: url('../fonts/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* *********************  code for custom font "codefont" and "quickand" ****************************** */


body{
	font-family: "Code Light" ;
	margin: 0px;	
	
	background-color:  #eeeeee;  white; #f6f4f5; #f1f0f1; #edeced;
	
	
}
/*Header CSS Start*/
#sec1{
	
	width:auto;
	height: 150px;
	background-color: #cbc9c9;
	
	/*border-bottom: 2px solid #c5c4c4;*/
}
#header{
	background-color: #cbc9c9;
	width: 1000px;
	height: 148px;
	font-size: 22px;
	font-weight: bold;
	
/*	border-bottom: 1px solid #c5c4c4;  */
	margin-right: auto;
	margin-left: auto;
}
#logo{
	float: left;
	width: 200px;
	height: 148px;
	/*border-bottom: 2px solid #c5c4c4;*/
}
#header ul li a{
	display:inline-block;
	text-decoration: none;
	color: black;
	width: 100px;

	height: 148px;
	/*border-bottom: 2px solid #c5c4c4;*/
		
}
#header ul li a:hover{
	background-color: rgba(203,201,201,0.4);
	
	color: white;
/* 	border-bottom-left-radius: 2%;
	border-bottom-right-radius: 2%;  */
	border-bottom: 2px solid #0f1e7d;
	
}

	
/* 
#header ul li:hover{
	background-color: #3c3b3b;
	font-weight: bold;	
}
#header ul li a:hover{
	color: white;
} 
*/
/*
#header ul li a:link{
	color: black;
}

#header ul li a:visited{
	color: #ffc000;
}
*/
#header ul{
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#header ul li{
	list-style: none;
	float: left;
	/*display: block;*/
	width: 100px;
	
	line-height: 124px;
	
	height: 100px;
	border-bottom-left-radius: 44%;
	border-bottom-right-radius: 44%;

	
}
#header ul li:hover{
	background-color: #ab0616; rgba(187,29,44,1.0);
}
/****************************** Header CSS End  **************************/

/******************************  Main CSS Start  ***************************/






#about{
	
	background-color: #eeeeee;  white;
	
	width: 1000px;
	height: 740px;
	
	margin:0 auto;
}

#row1{
	
	
	background-color: #eeeeee;  white;
	
	height: 150px;
	line-height: 150px;
	
	text-align:center;	
}
#aboutText{
	font-size: 80px;
	font-weight: bold;
	color: rgba(0,0,0,0.6);	
}




#row2{
    
	
	background-color: white; grey;
	height: 590px;
}
#umairWrap{
	display: inline-block;
	background-color: #eeeeee;  white; yellow;
	
	width: 420px;
	height: 590px;
}
#umairAbsolute{
	position: relative;
	top:35px; left:0; right:0; bottom:0;
	margin:auto;

	background-color: white;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	
	
	background-position: center;
	background-repeat:no-repeat;
	background-image: url(../images/dp3.jpg);
	
	/************* Box Shadow ***************/	
	-webkit-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.4);
            box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.4);
/************* Box Shadow ***************/	
}
#umairDef{
		font-size: 20px;
		text-align: center;
		margin:70px auto auto;
		font-weight: bold;
}
#umairDef span{
	display:block;
	border-top: 1px solid grey;
	margin:0 20px;
	font-family: "Lucida Grande";
	font-size: 20px;
	font-style:italic;
	font-weight: normal;
	
}





#umairAbout{
	display: inline-block;
	background-color: #eeeeee;  white; pink;
	
	float:right;
	
	width: 580px;
	height: 590px;
}

#nps, #sm, #ku{
	
	width: 540px;
	height: 170px;
	
	margin:0 20px;
	margin-bottom: 20px;
	
/************* Box Shadow ***************/	
	-webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.4);
       -moz-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.4);
            box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.4);
/************* Box Shadow ***************/		
}
#nps, #sm, #ku{
	background-color:  white;
}

#npslogo, #smlogo, #kulogo{
	display:inline-block;
	width: 145px;
	height: 145px;
	/*border-radius: 50%;*/
	background-color: white;
	margin: 12.5px;
	margin-left: 20px;
	
	
	/*margin-top: 12px;
	margin-left: 12px;*/
	

}
#npslogo, #smlogo, #kulogo{
	background-position: center;
	background-repeat:no-repeat;
}
#npslogo{
	background-image: url(../images/kulogo.jpg);
}
#smlogo{
	background-image: url(../images/smlogo.jpg);
}
#kulogo{
	background-image: url(../images/npslogo.jpg);
}


/****** Hover state ******/
#npslogo:hover{
	background-image: url(../images/hkulogo.jpg);
}
#smlogo:hover{
	background-image: url(../images/hsmlogo.jpg);
}
#kulogo:hover{
	background-image: url(../images/hnpslogo.jpg);
}
/****** Hover state ******/



#npsDef, #smDef, #kuDef{
	display:inline-block;
	float:right;
	width: 340px;
	height: 150px;
	background-color: white; #293333;
	
	padding-top:20px;
	padding-right: 10px;
	
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	
	
	
}
/*#smDef{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	
}*/
.def{
	font-family: "Lucida Grande";
	font-size: 18px;
	font-style:italic;
	font-weight: normal;
	
	
}
/* "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;*/






















/*************************************   Main CSS End   ******************************/

/*********************************    Footer CSS Start   ******************************/

#sec3{
	background-color:#5c69a8;
	background-image:url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position:center;
	height: 257px;
	margin: 0 auto;
}
#footer{
	display: block;
	width: 1000px;
	/*height: 257px;*/
	height: 237px;
	/*border-top: 2px solid #c5c4c4;*/
	
	margin-right: auto;
	margin-left: auto;
	
}
/* Below Spaces block for center the footer links with top border */
#footerLeftspace, #footerRightspace{
	display: inline-block;
	float: left;
	border-top: 2px solid #5c69a8;
	
}
#footerLeftspace{
	width: 290px;
	height: 235px;
}
#footerRightspace{
	width: 6px;
	height: 235px;
}


#footer #flink{
	display: inline-block;
	float: left;
	height:237px;
	/*width: 1000px;*/
	width: 704px;
	/*margin-left: 300px;*/
}
#footer #flink ul{
	
	margin: 0px;
	height: 257px;
	width: 704px;
	padding: 0px 0px;
	
	font-size: 19px;
	/*font-weight: bold;*/
	
}


#flink ul li{
	display: inline-block;
	list-style: none;
	float: left;
 	width: 88px;
	height: 74px;
	
	border-top: 2px solid #5c69a8;
    line-height: 120px;
	
}
/* Below CSS for Triangle effect  */	
#flink ul li{
	
}

/*#flink ul li:hover{
	border-top-color: #ed9f01;
	
}*/
#flink ul li a{
	margin-top: 0px;
	display:block;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	
    width: 88px;
	height: 80px;
	
	/*border-bottom: 2px solid #5b69a8;*/	
}
#flink ul li:hover{
	border-top-color: #bb1d2c; rgba(168, 73, 81, 0.8);
}
#flink ul li a:hover{
	/*border-bottom: 2px solid #162783;*/
	color: white;
	font-weight: bold;
}
#floatText{
	display:block;
	margin:0 auto;
	
	width: 88px;
	height: 102px;
	
	/*border-bottom-left-radius: 43%;
	
	border-bottom-right-radius: 43%;*/
}
#floatText:hover{
	background-color: rgba(62, 70, 109, 0.8);
	
}

#copyRight{
	width: 390px;
	height: 20px;
	
	float:right;
	
	line-height: 20px;
	
	font-size: 13px;
	text-align: center;
	font-family: halvetica, Verdana, sans-serif;
	word-spacing: 4px;
	color: rgba(255, 255, 255, 0.4);
	
	/*background-color: rgba(140, 140, 140, 0.3);*/
	background-color: rgba(62, 70, 109, 0.6);
}
/*Footer CSS End*/