@charset "utf-8";
/* CSS Document */
/*#cbc9c9*/

/* *************************  code for custom font "codefont" and "quickand" ************************** */
@font-face {
    font-family: "Code Bold";
    src: url('../fonts/code_bold-webfont.eot');
    src: url('../fonts/code_bold-webfont.eot?#iefix') format('embedded-opentype');
src: url('../fonts/code_bold-webfont.woff2') format('woff2');
src: url('../fonts/code_bold-webfont.woff') format('woff');
src: url('../fonts/code_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Code Light";
    src: url('../fonts/code_light-webfont.eot');
    src: url('../fonts/code_light-webfont.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/code_light-webfont.woff2') format('woff2');
  src: url('../fonts/code_light-webfont.woff') format('woff');
  src: url('../fonts/code_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand-bold-webfont.eot');
    src: url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype');
 src: url('../fonts/quicksand-bold-webfont.woff2') format('woff2');
 src: url('../fonts/quicksand-bold-webfont.woff') format('woff');
 src: url('../fonts/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand-light-webfont.eot');
    src: url('../fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype');
src:  url('../fonts/quicksand-light-webfont.woff2') format('woff2');
src:  url('../fonts/quicksand-light-webfont.woff') format('woff');
src:  url('../fonts/quicksand-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype');
 src: url('../fonts/quicksand-regular-webfont.woff2') format('woff2');
 src: url('../fonts/quicksand-regular-webfont.woff') format('woff');
 src: url('../fonts/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/* *********************  code for custom font "codefont" and "quickand" ****************************** */


body{
	font-family: "Code Light" ;
	margin: 0px;
	background-color: #013334;	
}


/*Header CSS Start*/
#sec1{

	width:auto;
	height: 150px;
	background-color: #cbc9c9;
	
	/*border-bottom: 2px solid #c5c4c4;*/
}
#sec1Zindex{
	
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index:2;

	width:auto;
	height: 150px;
	background-color: #cbc9c9;
}

#header{
	
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index:3;
	
	margin:0 auto;
	
	background-color: #cbc9c9;
	width: 1000px;
	height: 148px;
	font-size: 22px;
	font-weight: bold;
	
/*	border-bottom: 1px solid #c5c4c4;  */
	margin-right: auto;
	margin-left: auto;
}
#logo{
	float: left;
	width: 200px;
	height: 148px;
	/*border-bottom: 2px solid #c5c4c4;*/
}
#header ul li a{
	display:inline-block;
	text-decoration: none;
	color: black;
	width: 100px;

	height: 148px;
	/*border-bottom: 2px solid #c5c4c4;*/
		
}
#header ul li a:hover{
	background-color: rgba(203,201,201,0.4);
	
	color: white;
/* 	border-bottom-left-radius: 2%;
	border-bottom-right-radius: 2%;  */
	border-bottom: 2px solid #0f1e7d;
	
}

	
/* 
#header ul li:hover{
	background-color: #3c3b3b;
	font-weight: bold;	
}
#header ul li a:hover{
	color: white;
} 
*/
/*
#header ul li a:link{
	color: black;
}

#header ul li a:visited{
	color: #ffc000;
}
*/
#header ul{
	padding: 0px;
	margin: 0px;
	text-align: center;
}
#header ul li{
	list-style: none;
	float: left;
	/*display: block;*/
	width: 100px;
	
	line-height: 124px;
	
	height: 100px;
	border-bottom-left-radius: 44%;
	border-bottom-right-radius: 44%;

	
}
#header ul li:hover{
	background-color: #ab0616; rgba(187,29,44,1.0);
}
/*Header CSS End*/

/*Main CSS Start*/

#topSpace{
	position:fixed;
	top:0; left:0; right:0;
	
	z-index:1;
	
	height: 70px;
	background-color: #013334; rgba(187,29,44,0.6); 
}
#bottomSpace{
	position:fixed;
	bottom:0; left:0; right:0;
	
	z-index:1;
	
	height: 70px;
	background-color: #013334; rgba(187,29,44,0.6); 
}
/*#Image{
	position:fixed;
	top:0; bottom:0; left:0; right:0;
	
	width: 500px;
	height: 560px;
	
	margin: auto;
	margin-left: 10%;
	
	background-image: url(../image/1.png);
	background-repeat: no-repeat;
	background-position:center;
	/*background-color: green;*/
	
	/*text-align: center;		
}*/

/*** Bellow code for relative box covering the text top and bottom ***/

/*#relativeTop{
	position: relative;
	left:0; right:0;
	height: 70px;
	background-color: pink;#013334;
}*/



#sec2{
	width:1000px;
	margin:0 auto;
	
	/*padding-left: 510px;
	padding-right: 10px;
	
	padding-top: 90px;
	padding-bottom: 90px; */
	
	background-color: #013334; blue;
	color: white;	
	
	/*font-family: Quicksand;
	font-size: 20px;
	*/
	
}

/*#parentImage{
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	
	z-index:6;
	
	width: 500px;
	height: 1868px;
	
	padding-top:230px;
	padding-bottom:337px;
	
	/*margin: auto;*/
/*	margin-left: 10%;
	
	background-color:#33A725;
	
	
}
#Image{
	/*position: relative;
	top:0; bottom:0; left:0; right:0;
	*/
	
/*	width: 500px;
	height: 560px;
	
	margin: auto;
	/*margin-left: 10%;*/
	
/*	background-image: url(../image/1.png);
	background-repeat: no-repeat;
	background-position:center;
	/*background-color: green;*/
	
/*	text-align: center;		
} */



#bottomImagediv{
	position: absolute;
	  right:0; bottom:0; left:0; top: 2100px;
	
	z-index:6;
	
	background-color: rgba(1,51,52,0.5); #013334; 
	height: 77px;
}


#topImagediv{
	position: absolute;
	bottom:257; left:0; right:0;
	
	z-index:6;	
	
	background-color: rgba(1,51,52,0.5); #013334;
	height: 67px;
}




#Image{
	
	position: fixed;
	top:0; bottom:0; left:0; right:0;
	z-index:1;
	
	width: 490px;
	height: 550px;
	
	margin-left: 10%;
	margin-top:auto;
	margin-bottom:auto;	
	
	background-image: url(../images/ser2.png);
	background-repeat: no-repeat;
	background-position:center;
	
	/*background-color: pink;*/
	
}   


#Sec2text{
	float: right;
	width: 490px;
	
	padding-top: 80px;
	padding-bottom: 80px;
	
	/*text-align:justify;*/
	
	text-align:center;
	
	background-color: #013334; red;
	
}

#firstHadding{
	
	font-size:90px;
	font-weight: bold;
	/*margin: 0 auto 0 auto;*/
	
	margin: 0 auto;
	
    /*padding: 0 21px 0 21px;*/	
}


#text{
	 font-family: "quicksandregular"; /*quicksandlight*/
	 font-size:20px;
	 text-align: justify;
	 display:block;
	  
	 
	 
}
.subHadding{
	display:block;
	
	font-size:24px;
	font-weight: bold;
	font-family: "Code Light";
	text-align:center; 
	
	
}
/*#left{
	position: fixed;
	top: auto;
	left: 0px;
	
	width: 50%;
	height: 740px;
	margin: auto;
	background-color: red;
}
#leftImage{
	
	position: relative;
	top: 50px;
	
	
	margin-right: 50px;
	margin-left:auto;

	width: 400px; 
	height: 600px;
	background-color: #B8B3B4;
	
}*/


/*Main CSS End*/


/*Footer CSS Start*/
#sec3{
	
	/*position: absolute;
    left:0; right:0; bottom: auto; top:0; 
	z-index:3;
	
	margin:0 auto;
	*/
	
	
	clear:both;
	
	background-color:#5c69a8;
	background-image:url(../services/services/drywall/image/footer.jpg);
	background-repeat: no-repeat;
	background-position:center;
	height: 257px;
	margin: 0 auto;
}
/*#sec3Zindex{
	
	position: absolute;
    left:0; right:0; bottom:0; top:auto; 
	z-index:3;
	
	clear:both;
	
	margin:0 auto;
	background-color:#5c69a8;
	background-image:url(../image/footer.jpg);
	background-repeat: no-repeat;
	background-position:center;
	height: 257px;
	margin: 0 auto;
}*/
#sec3Zindex{
	position: absolute;
    left:0; right:0;
	z-index:3;
	
	background-color:#5c69a8;
	background-image:url(../images/footer.jpg);
	background-repeat: no-repeat;
	background-position:center;
	
	height: 257px;
	
}

#footer{
	
	position: absolute;
    top:0; left:0; right:0; bottom:0;
	z-index:4;
	
	margin:0 auto;
	
	
	width: 1000px;
	/*height: 257px;*/
	height: 237px;
	/*border-top: 2px solid #c5c4c4;*/
	
	margin-right: auto;
	margin-left: auto;
	
}
/* Below Spaces block for center the footer links with top border */
/*#footerLeftspace, #footerRightspace{
	
	
	display: inline-block;
	float: left;
	border-top: 2px solid #c5c4c4;
	
}
#footerLeftspace{
	
	position: absolute;
    left:0;  
	z-index:4;
	
	margin:0 auto;
	
	
	width: 290px;
	height: 235px;
}
#footerRightspace{
	
	position: absolute;
	right:0;  
	z-index:4;
	
	margin:0 auto;
	
	
	width: 6px;
	height: 235px;
}
*/

#flink{

	
	display: block;
	margin:0 0 0 auto; 
	
	/*float: left;*/
	height:237px;
	/*width: 1000px;*/
	width: 704px;
	/*margin-left: 300px;*/
}
#footer #flink ul{
	
	margin: 0px;
	height: 257px;
	width: 704px;
	padding: 0px 0px;
	
	font-size: 19px;
	/*font-weight: bold;*/
	
}


#flink ul li{
	display: inline-block;
	list-style: none;
	float: left;
 	width: 88px;
	height: 74px;
	
	border-top: 2px solid #5c69a8;#c5c4c4;
    line-height: 120px;
	
}
/* Below CSS for Triangle effect  */	
#flink ul li{
	
}

/*#flink ul li:hover{
	border-top-color: #ed9f01;
	
}*/
#flink ul li a{
	margin-top: 0px;
	display:block;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	
    width: 88px;
	height: 80px;
	
	/*border-bottom: 2px solid #5b69a8;*/	
}
#flink ul li:hover{
	border-top-color: #bb1d2c; rgba(168, 73, 81, 0.8);
}
#flink ul li a:hover{
	/*border-bottom: 2px solid #162783;*/
	color: white;
	font-weight: bold;
}
#floatText{
	display:block;
	margin:0 auto;
	
	width: 88px;
	height: 102px;
	
	/*border-bottom-left-radius: 43%;
	
	border-bottom-right-radius: 43%;*/
}
#floatText:hover{
	background-color: rgba(62, 70, 109, 0.8);
	
}

#copyRight{
	
	position: absolute;
    right:0; bottom:0;
	
	float: right;
	
	
	width: 390px;
	height: 20px;
	
	
	
	/*float:right;*/
	
	line-height: 20px;
	
	font-size: 13px;
	text-align: center;
	font-family: halvetica, Verdana, sans-serif;
	word-spacing: 4px;
	color: rgba(255, 255, 255, 0.4);
	
	/*background-color: rgba(140, 140, 140, 0.3);*/
	background-color: rgba(62, 70, 109, 0.6);
}
/*Footer CSS End*/